*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root {
    --main-color: #ca9c5e;
    --bg-color : #101414;
  }
  
body{
    text-decoration: none;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    font-weight: bold;
    background: transparent;
    position: fixed;
    
}
.logo{

    height: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;


    
}
.header .logo img{
   padding: 40px;
    height: 300px;

}
.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    padding-right: 60px;
    list-style: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: 500ms;
}
.nav-menu ul li a:hover{
    color: var(--main-color);
}
.nav-menu ul li a::after{
    content: '';
    display: block;
    position: relative;
    background-color: var(--main-color) ;
    height: 3px;
    width: 0;
    transition: width 0.3s ease;
}

.nav-menu ul li a:hover::after {
    width: 100%;
}
.nav-menu ul i{
    position: absolute;
    top: 2%;
    right: 2%;
    color: red;
    font-size: 25px;
    display: none;
}
.bar{
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.bar i{
    padding-right: 30px;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./images/wallpaper8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 2000ms ease;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links i{
    margin-right: 20px;
    font-size: 1.3rem;
    color: white;
}
.main-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 85vh;
    transition: 2s;
    font-family: sans-serif;
}

.main-text h1{
    font-size: 100px;
}
.main-text h4{
    font-size: 1.1rem;
}
.main-text button{
    margin-top: 10px;
    border-left: none;
    border-right: none;
    border-top: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    height: 70px;
    width: 200px;
    padding: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
    transition: background 1s ease;
}

.main-text button:hover{
    background-color: var(--main-color);
    color: black;
}
@keyframes slide-in-bottom {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    50%{
        opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .slide-in-bottom {
    animation: slide-in-bottom 2s ease-in-out forwards;
  }
  .body-content{
    width: 100%;
    height: 160vh;
    background-color: var(--bg-color);
  }
  .container{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding-top: 70px;

  }
  .container .item{
        padding:  0 20px;
        display: flex;
        justify-content: center;
        height: 700px;
       
  }
  .container .item:first-child img{
    height: 700px;
    width: 500px;
  }
  .container .item:nth-child(2), 
  .container .item:nth-child(3),
  .container .item:last-child {
    flex-direction: column;
  }
  .container .item:nth-child(2) p{
        color: white;
        font-size: 20px;
        margin-bottom: 10px;
        font-family: sans-serif;
  }
  .container .item:nth-child(2) h1{
    color: var(--main-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    font-weight: 200;
    font-size: 60px;
  }
  .container .item:last-child  img{
    height: 700px;
    transition:  300ms;
  }
  .container .item:nth-child(3){
    align-items: center;
    color: white;
  }
  .container .item:nth-child(3) h1{
    font-size: 70px;
    text-align: center;
  }
  .container .item:nth-child(3) p{
    text-align: center;
    line-height: 2;
    font-size: 20px;
  }
  .container .item:nth-child(3) button{
    margin-top: 30px;
    border-left: none;
    border-right: none;
    border-top: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    height: 70px;
    width: 200px;
    padding: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
  }
  .our-menu{
    height: 100vh;
    background: var(--bg-color);
    padding: 10px 0;
  }
  .title{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 70%;
    height: 80vh;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  #our-menu , 
  #make-food{
    color: white;
    text-align: center;
  }
  .our-menu h1{
    font-size: 60px;
    margin-bottom: 50px;
  }
  .our-menu p{
    font-size: 17px;
    margin-bottom: 10px;
  }
  .starters, .main-course{
    padding: 10px;
  }
  .starters h1,
  .main-course h1{
    font-size: 33px;
    color: white;
    margin-bottom: 20px;
  }
  .starters h2, 
  .main-course h2{
    color: var(--main-color);
    margin-bottom: 7px;
    font-size: 20px;
  }

  .starters p, 
  .main-course p{
    color: white;
    font-size: 17px;
  }
  .starters div, 
  .main-course div{
    margin-bottom: 20px;
  }
  .starters span, 
  .main-course span{
    float: right;
    margin-right: 20px;
  }
  .new, .recommended{
    border: 1px solid var(--main-color);
    border-radius: 7px;

  }
  .new h3, .recommended h3{
    font-size: 20px;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    border-radius: 7px;
  }
  .new h2, 
  .recommended h2{
    padding: 10px;
  }
  .new p, 
  .recommended p{
    padding:  0 10px;
  }
  .Reservation{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(./images/restaurant\ 6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    color: white;
  }
 .Reservation h1{
    font-size: 55px;
    text-align: center;
  }
  .Reservation p{
    line-height: 2;
    font-size: 20px;
    text-align: center;
    
  }
  .Reservation button{
    margin-top: 30px;
    border-left: none;
    border-right: none;
    border-top: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    height: 70px;
    width: 200px;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
  }
  .reserve{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin-right: 200px;
  }
 .footer{
    width: 100%;
    height: 400px;
    background-color: var(--bg-color);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.footer-container{
    width: 60%;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;

}
.footer-item{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.footer-item:first-child img{
    height: 200px;
}
.footer-item:first-child{
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 2px solid var(--main-color);
}
.footer-item:nth-child(2){
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 2px solid var(--main-color);
}
.footer-item:nth-child(2) li{
    list-style: none;
}
.footer-item:nth-child(2) a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    line-height: 2;
}
.footer-item:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}
.footer-links i{
    color: var(--main-color);
    font-size: 20px;
    padding-left: 10px;
}
.footer-item:last-child{
    line-height: 2;
}
.footer-item:last-child li{
    list-style: none;
}
.footer-item:last-child a{
    text-decoration: none;
    color: white;
    
}



/* Mobile Responsiveness */

@media (max-width: 480px){

  body {
    overflow-x: hidden;
  }
    .header{
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 100%;
        
    }
    .logo{
        padding: 0;
    }
    .nav-menu ul{
        display: block;
        padding: 10px 10px;
        width: 200px;
        background: black;
        top: 5%;
        position: absolute;
        height: 90vh;   
        right: -100%;
        transition: right 1s ease;
        z-index: 1;
        
    }
    .nav-menu ul li{
        padding: 30px 20px;
    }
    .main-text h1{
        font-size: 30px;
    }
    .main-text button{
        font-size: .9rem;
        font-weight: bold;
        width: 100px;
    }
    .main-text p{
        font-size: 12px;
    }
    .header .logo img{
        height: 200px;
    }
  
    .bar{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 7px;
        

    }
    .bar i{
        font-size: 25px;
    }
    .nav-menu ul i{
        display: block;
    }
    .links i{
        margin-right: 20px;
        font-size: 1.0rem;
        color: white;
    }
    .body-content{
        height: 1800px;
    }
    .container{
        width: 100%;
        max-width: 480px;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }
    .container .item{
        height: 400px;
        width: 100%;
        max-width: 480px;
        display: flex;
    
        
    }
    .container .item:first-child{
        height: 500px;

    }
    .container .item:first-child img{
        height: 500px;
    }
    .container .item:nth-child(2) p{
        color: white;
        font-size: 17px;
        margin-bottom: 10px;
  }
  .container .item:nth-child(2) h1{
    color: var(--main-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    font-weight: 200;
    font-size: 43px;
    
    
  }
  .container .item:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .container .item:last-child  img{
    height: 400px;
    padding: 0 10px;
  }
  .container .item:nth-child(3) h1{
    font-size: 45px;
    text-align: center;
  }
  .container .item:nth-child(3) p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 17px;
  }
  .container .item:nth-child(3) button{
    margin-top: 20px;
    border-left: none;
    border-right: none;
    border-top: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    height: 70px;
    width: 200px;
    padding: 10px;
    font-size: 1.0rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
  }
  .our-menu{
    height: 1400px;
  }
  .our-menu h1{
    font-size: 40px;
    margin-bottom: 50px;
  }
  .our-menu p{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .title{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 1300px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .starters h1,
  .main-course h1{
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
  }
  .starters h2, 
  .main-course h2{
    color: var(--main-color);
    margin-bottom: 7px;
    font-size: 13px;
  }

  .starters p, 
  .main-course p{
    color: white;
    font-size: 11px;
  }
  .Reservation{
    width: 100%;
    height: 70vh;
    padding: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./images/rest\ 6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
  }
  .Reservation h1{
    font-size: 40px;
    text-align: center;
  }
  .Reservation  p{
    text-align: center;
    line-height: 2;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .Reservation button{
    margin-top: 30px;
    border-left: none;
    border-right: none;
    border-top: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    height: 70px;
    width: 200px;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
  }
  .reserve{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: auto;
  }
  .footer{
    height: 700px;
  }
  .footer-container{
    width: 90%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.footer-item{
    width: 300px;
    
}
.footer-item:first-child,
.footer-item:nth-child(2){
    border-top: none;
    border-left: none;
    border-bottom:  2px solid var(--main-color);
    border-right:  none;
}
.footer-item:first-child img{
    height: 150px;
}
.footer-item:last-child{
    font-size: 12px;
    gap: 20px;
}
.footer-links i{
    color: var(--main-color);
    font-size: 15px;
    padding-left: 15px;
    
}

    
}

